<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billy's Image Uploader</title>
</head>
<body>
    <header>
        <h1>Billy's Image Uploader</h1>
        <p>Upload images and get a link to share with others</p>

        <form action='/upload' method='post' encType="multipart/form-data">
            <input name='file' type='file'>
            <input type="submit">
        </form>
    </header>
</body>
</html>